html,body{
    margin: 0px;
    padding: 0px;
}
body{
    background: #181818;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/* #region 标题栏 */
.titleBar {
    display: flex;
    border-bottom: 1px solid #2b2b2b;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
}
.title{
    flex: 1;
    padding-left: 12px;
    font-size: 12px;
    color: #8b949e;
    -webkit-app-region: drag;
}
.toolBtns{
    width: 120px;
    display: flex;
}
.toolBtns div{
    flex: 1;
    line-height: 32px;
    text-align: center;
    color: #666;
    cursor: pointer;
}
.toolBtns div:hover{
    background: #2b2b2b;
}
.toolBtns div i{
    font-size: 10px;
}
#closeBtn:hover{
    background: #e81123 !important;    
    color: #FFF !important;    
}
/* #endregion */

/* #region 中部区域 */
.centerBox{
    flex: 1;
    display: flex;
}
.splitter{
    position: absolute;
    top: 32px;
    bottom: 28px;
    width: 4px;
    z-index: 1;
    background: transparent;
    cursor:ew-resize;
}
.splitter:hover{
    background: #0078d4;
}
/* #region 侧边栏 */
.leftBar{
    width: 56px;
    border-right: 1px solid #2b2b2b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.mainMenu{
    flex: 1;
}
.subMenu div{
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #888;
    cursor: pointer;
}
.subMenu div:hover{    
    color: #d7d7d7;
}
.subMenu div i{
    font-size: 16px;
}
/* #endregion */

/* #region 导航栏 */
#navigateBox{
    width: 258px;
    border-right: 1px solid #2b2b2b;
    box-sizing: border-box;
}
#navigateHeader{
    display: flex;
    background: #1f1f1f;
    height: 32px;
    line-height: 32px;
}
#navigateSearchBox{
    background: #242424;
    display: flex;
    color: #c7c7c7;
    flex: 1;
}
.searchIcon{
    width: 26px;
    text-align: center;    
}
.searchIcon i{
    font-size: 12px;
}
#navigateSearchInput{
    background: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    display: block;
    border: none;
    color: #c7c7c7;
}
/* #endregion */

/* #region 列表栏 */
#listBox{
    width: 158px;
    border-right: 1px solid #2b2b2b;
    box-sizing: border-box;
}
.chessBoard{
    background: #1f1f1f;
    flex: 1;
}
/* #endregion */

/* #endregion */

/* #region 状态栏 */
.statusBar{
    border-top: 1px solid #2b2b2b;
    height: 28px;
}
/* #endregion */

/* #region 状态栏 */
/* #endregion */