@font-face {
  font-family: "iconfont"; /* Project id 4235273 */
  src: url('iconfont.ttf?t=1694047387352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e608";
}

.icon-uncheck:before {
  content: "\e609";
}

.icon-close:before {
  content: "\e6e6";
}

.icon-minimize:before {
  content: "\e6e7";
}

.icon-suoxiao1:before {
  content: "\e6e8";
}

.icon-fangda:before {
  content: "\e6e5";
}

