/* #region 标题栏 */
html,body{
    margin: 0px;
    padding: 0px;
}
.titleBar {
    display: flex;
    background-color: #181818;
    border-bottom: 1px solid #2a2a2a;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
}
.title{
    flex: 1;
    padding-left: 12px;
    font-size: 12px;
}
.toolBtns{
    width: 120px;
    display: flex;
}
.toolBtns div{
    flex: 1;
    line-height: 32px;
    text-align: center;
    color: #888;
    cursor: pointer;
}
.toolBtns div:hover{
    background: #2a2a2a;
}
.toolBtns div i{
    font-size: 8px;
}
.closeBtn:hover{
    background: #e81123 !important;    
    color: #FFF !important;    
}
/* #endregion */

/* #region 中部区域 */
/* #endregion */

/* #region 状态栏 */
/* #endregion */