.chessBoard{
    background: #1f1f1f;
    flex: 1;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100%;
    overflow: hidden;
}
.chessBoardContainer{
    width:calc(100% - 300px);
    border: 1px solid #fff;
    aspect-ratio: 8 / 9;
}
.chessBoardRow{
    display: flex;
}
.chessBoardBox{
    flex: 1;
}
#boardImg{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    display: inline-block;
}