.chessBoard{
    background: #1f1f1f;
    flex: 1;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100%;
    overflow: hidden;
}
#boardImg{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    display: inline-block;
}