.piece{
    width: 76%;
    height: 76%;
    border-radius: 76%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    font-size: calc(6vh - 14px);
    outline-offset: -3px;
    font-family: "KaiTi";
    font-weight: bold;
    box-sizing: border-box;
}
.pieceBlack{  
    color: black;
    background: #fff;
    outline: #000 solid 1px;
}
.pieceRed{    
    color: red;
    background: #fff;
    outline: red solid 1px;
}
.pieceSelected{
    width: 80% !important;
    height: 80%  !important;
    border-radius: 80%  !important;
    box-shadow: 0px 0px 6px #fff;
}
